* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0b0b0b;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 130px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 6px;
    margin: 0;
}

.hero span {
    opacity: 0.6;
    letter-spacing: 2px;
}

/* SECTIONS */
section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

/* SERVICES */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    border: 1px solid #333;
    padding: 25px;
    transition: 0.3s;
}

.card:hover {
    background: #fff;
    color: #000;
}

/* WHO */
.who ul {
    list-style: none;
    padding: 0;
}

.who li {
    padding: 8px 0;
    font-size: 18px;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.4s;

  will-change: transform;
  backface-visibility: hidden;
}

.photo:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

/* FULLSCREEN */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
}

/* ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 40px;
    background: #000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 40px;
    }
}
.photo {
  aspect-ratio: 4 / 3; /* ajusta a tus fotos */
  background: #111;
}
